<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.seckill.mapper.ProductMapper">

    <resultMap type="com.ht.seckill.bean.Product" id="ProductMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="proName" column="pro_name" jdbcType="VARCHAR"/>
        <result property="proPrice" column="pro_price" jdbcType="NUMERIC"/>
        <result property="proStore" column="pro_store" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProductMap">
        select
          id, pro_name, pro_price, pro_store, create_time, update_time, is_delete
        from seckill.product
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProductMap">
        select
          id, pro_name, pro_price, pro_store, create_time, update_time, is_delete
        from seckill.product
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProductMap">
        select
          id, pro_name, pro_price, pro_store, create_time, update_time, is_delete
        from seckill.product
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="proName != null and proName != ''">
                and pro_name = #{proName}
            </if>
            <if test="proPrice != null">
                and pro_price = #{proPrice}
            </if>
            <if test="proStore != null">
                and pro_store = #{proStore}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into seckill.product(pro_name, pro_price, pro_store, create_time, update_time, is_delete)
        values (#{proName}, #{proPrice}, #{proStore}, #{createTime}, #{updateTime}, #{isDelete})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update seckill.product
        <set>
            <if test="proName != null and proName != ''">
                pro_name = #{proName},
            </if>
            <if test="proPrice != null">
                pro_price = #{proPrice},
            </if>
            <if test="proStore != null">
                pro_store = #{proStore},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from seckill.product where id = #{id}
    </delete>

</mapper>
