<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.zm.mybatis.entity.mapper.UserMapper">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <select id="selectOne" resultType="com.zm.mybatis.entity.User" parameterType="integer">
        select * from tb_user where
        id = #{id}
    </select>

    <select id="list" resultType="com.zm.mybatis.entity.User" >
        select  * from tb_user
    </select>

    <insert id="addUser" parameterType="com.zm.mybatis.entity.User">
        insert into tb_user(user_name, password, age, sex, birthday)
        values (
           #{userName},#{password},#{age},#{sex},#{birthday}
        )
    </insert>

    <update id="updateUser" parameterType="com.zm.mybatis.entity.User">
            update tb_user
                <set>
                    <if test="userName != null and userName != ''">
                        user_name = #{userName},
                    </if>
                    <if test="password != null and password != ''">
                        password = #{password},
                    </if>
                    <if test="age != null">
                        age = #{age},
                    </if>
                    <if test="sex != null">
                        sex = #{sex},
                    </if>
                    <if test="birthday != null">
                        birthday = #{birthday},
                    </if>
                </set>
                where id = #{id}
    </update>

    <delete id="delUser" parameterType="integer">
        delete from tb_user where id = #{id}
    </delete>

</mapper>
